body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  /* background-color: #282c34; */
}

.editor-mnco {
  margin-top: 10px;
  height: 600px;
  width: 70%;
}

.code--container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 500px;
}


.btn--container {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.btn--container button {
  padding: 10px;
  color: white;
  background-color: #282c34;
  border: none;
  cursor: pointer;
}

/* .code--main {
  background-color: white;
}

.object--box {
  background-color: blue;
} */

/* .App {
  text-align: center;
}


.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}
 */

